.background {
    background-color: rgb(0, 0, 0);
    margin: 0;
    width: 100%;
    min-width: 22cm;
    min-height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageA4 {
    background-color: white;
    padding-top: 2cm;
    padding-left: 3cm;
    padding-right: 1.5cm;
    padding-bottom: 2cm;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 21cm;
    height: 29.7cm;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px rgb(200, 200, 200);
}
.Georgia, .default_text, .default_paragraph, table {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.default_text, .default_paragraph {
    text-align: justify;
    font-size: 17px;
}
.default_paragraph {
    text-indent: 1.25cm;
}
.mark_wrapper {
    display: flex;
    justify-content: space-between;
    width: 74%;
    position: absolute;
    bottom: 44%;
    left: 26%;
    background-color: yellow;
}
.mark_text {
    display: block;
    width: 100%;
}
.column {
    float: left;
}
.text {
    width: 44%;
    margin: 0;
}
.image {
    width: 90%
}
.central {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    position: relative;
}
.row::after {
    clear: both;
}
.consolas_text {
    font-family: Consolas;
    font-size: 17px;
}
table {
    width: 100%;
    text-align: left;
}
tr:nth-child(even) td {
    background-color: rgba(180, 180, 180, 0.2);
}
th, td {
    width: 33%
}